<h3>Tweets per campaign</h3>
<%= column_chart User.find(current_user.id).tweets.group(:campaign_id).count %>
<h3>Tweets over time</h3>
<%= line_chart User.find(current_user.id).tweets.group(:tweet_hour).count %>