<h2><%= @campaign.hashtag %></h2>
<h3>Reach</h3>
<div class="reach">
  <div class="reach-score"><%= Tweeter.where(:campaign_id => 2).sum(:followers_count) %></div>
accounts reached
</div>
<h3>Activity</h3>
<h3>Tweets over time</h3>
<%= line_chart Campaign.find(@campaign.id).tweets.group_by_hour(:entry_time).count %>