<%= render "layouts/appnav" %>
<% if @campaign.tweets.any? %>
  <h2>Tweet List</h2>
  <h4><%= link_to '<< Back to campaign', campaign_path(@campaign) %></h4>
  <ol>
  <% @campaign.tweets.each do |tweet| %>
    <% @tweet = tweet %>
    <%= render 'show' %>
  <% end %>
  </ol>
<% else %>
  <%= "No tweets found" %>
<% end %>