<h3>Tweets per campaign</h3>
<%= column_chart Tweet.joins(:campaign).where(:campaigns => {:user_id => current_user.id }).group(:hashtag).count %>
<h3>Tweets over time</h3>
<%= line_chart Tweet.joins(:campaign).where(:campaigns => {:user_id => current_user.id }).group_by_minute(:entry_time).count %>
<h3>Total Reach per Campaign</h3>
<%= column_chart Tweeter.joins(:campaign).where(:campaigns => {:user_id => current_user.id}).group(:hashtag).sum(:followers_count) %>
<%= pie_chart Tweeter.joins(:campaign).where(:campaigns => {:user_id => current_user.id}).group(:hashtag).sum(:followers_count) %>
