<div class="user-container">
  <div class="user-image"><%= image_tag current_user.image_url %></div>
  <div class="user-name"><%= current_user.name %></div>
  <div class="user-screen-name">@<%= current_user.screen_name %></div>
  <div class="user-followers-count"><%= current_user.followers_count %> followers</div>
</div>
