<h1><%= @title %></h1>
<% @campaigns.each do |campaign| %>
  <% @campaign = campaign %>
  <%= render "overview" %>
<% end %>
<div>
  <%= link_to 'New Campaign', new_campaign_path, :class => "btn btn-info" %>
  <%= link_to 'Account Analtyics', account_analytics_path, :class => "btn btn-primary btn-analytics" %>
</div>
