// Place all the styles related to the Campaigns controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.campaign-container {
  float: right;
  width: 70%;
  background-color: #f7f7f7;
  margin: 10px 0;
  border-radius: 4px;
  padding: 5px;
}

.panel {
  margin: 5px;
}

.navbar-wide {
  width: 20%;
}

.repick-form {
  display: inline;
}

.panel-heading {
  overflow: auto;
  position: relative;
}

.campaign-title {
  float: left;
  width: 50%;
  overflow: auto;
  position: absolute;
  top: 50%;
  height:2em; 
  margin-top:-0.5em;
}

.campaign-delete,
.campaign-edit,
.campaign-analytics {
  float: right;
  margin: 0 3px;
}

.campaign-delete a,
.campaign-cancel a,
.campaign-edit a,
.campaign-analytics a {
  color: white;
}

.campaign-delete a:hover,
.campaign-cancel a:hover,
.campaign-edit a:hover,
.campaign-analytics a:hover {
  text-decoration: none;
}

.campaign-cancel,
.edit_campaign,
.actions {
  display: inline;
}


.campaign-update, 
.campaign-cancel {
  margin: 0 5px 10px;
}

.campaign-separator {
  color: blue;
}

hr {
  border-top: 2px solid #139AE9;
}

.add-prize {
  display: block;
  margin: 0 5px 20px;
}

.fa {
  margin: 0 0 0 5px;
}
