.user-container {
  float: left;
  margin-top: 10px;
  background-color: #222;
  height: 100%;
  opacity: 0.75;
  border-radius: 4px;
  width: 15%;
  min-height: 200px;
}
.next-job {
  font-size: 2em;
  color: #139AE9;
}

.campaign-right-bar {
  float: right;
  margin-top: 10px;
  background-color: #222;
  height: 100%;
  border-radius: 4px;
  opacity: 0.75;
  width: 15%;
  color: white;
  min-height: 200px;
  text-align: center;
  position: relative;
}

.right-content {
  position:absolute; padding:5% 0;
}

.container {
  min-height: 100%;
}

.user-image {
  margin: 10px;
  text-align: center;
}

.user-name {
  font-size: 2em;
  padding: 5px;
  color: #FCD400;
}

.user-screen-name, .user-followers-count {
  font-size: 1.25em;
  padding: 5px;
  color: #FCD400;
}

.logged-in-container {
  
  min-height: 100%;
  background-color: #FFC044;
  background: url('/assets/pool.jpg') no-repeat center center fixed; 
}

@media (min-width: 768px) {
  .logged-in-container {
    padding-top: 100px;
  }
}

@media (max-width: 767px) {
  .logged-in-container {
    padding-top: 50px;
  }
}